@{
    ViewData["Title"] = "Others";
}
@section Footer {
    Все права защищены. Syte Corp. 2021.
}
<h1>@ViewData["Title"]</h1>
@{
    for (int i = 0; i < 30; i++)
    {
        <p>Others. @i</p>
    }
}

